@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&family=Roboto:wght@100;300;400;700&display=swap');



// COLUMN SYSTEM
// Desktop
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

// Tablet
@media screen and (min-width: 600px) and (max-width: 1100px) {
    .col-tablet-1 {width: 8.33%;}
    .col-tablet-2 {width: 16.66%;}
    .col-tablet-3 {width: 25%;}
    .col-tablet-4 {width: 33.33%;}
    .col-tablet-5 {width: 41.66%;}
    .col-tablet-6 {width: 50%;}
    .col-tablet-7 {width: 58.33%;}
    .col-tablet-8 {width: 66.66%;}
    .col-tablet-9 {width: 75%;}
    .col-tablet-10 {width: 83.33%;}
    .col-tablet-11 {width: 91.66%;}
    .col-tablet-12 {width: 100%;}
}
// MOBILE DEVICES
@media screen and (max-width: 599px) {
    .col-mobile-1 {width: 8.33%;}
    .col-mobile-2 {width: 16.66%;}
    .col-mobile-3 {width: 25%;}
    .col-mobile-4 {width: 33.33%;}
    .col-mobile-5 {width: 41.66%;}
    .col-mobile-6 {width: 50%;}
    .col-mobile-7 {width: 58.33%;}
    .col-mobile-8 {width: 66.66%;}
    .col-mobile-9 {width: 75%;}
    .col-mobile-10 {width: 83.33%;}
    .col-mobile-11 {width: 91.66%;}
    .col-mobile-12 {width: 100%;}
}

// GENERAL STYLES

body{
    background-color: $bg-color;
    color: $white;
    font-family: 'Roboto Slab', 'sans-serif';
}
.cursive{
    font-style: italic;
}
p{
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    font-weight: 300;
}
h1{
    line-height: 1.75em;
    font-weight: lighter;
}
h2{
    font-weight: 300;
    margin-bottom: 0;
}
h3{
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: 300;
    margin-bottom: 0;
}
h4{
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 300;
    color: $light-grey;
    margin-bottom: 0;
}
h5{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    color: $grey;
    margin-top: 0;
}
ul{
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: $white;
    font-weight: lighter;
}
.container{
    width: 80%;
    margin: auto;
    &-paddingSide{
        padding-left: 20%;
    }
}
.headline{
    margin-top: 5em;
    margin-bottom: 4em;
}

.divider{
    margin-top: 5em;
    margin-bottom: 5em;
}

// DISPLAYS
.d-flex{
    display: flex;

}
.d-block{
    display: block;
}
.d-none{
    display: none;
}

.text-center{
    text-align: center;
}
.m-auto{
    margin: auto;
}

// FLEX PROPERTIES
.jc-between{
    justify-content: space-between;
}
.jc-center{
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}



// COLORS
.orange{
    color: $orange;
}
.lightgrey{
    color: $light-grey;
}
.purple{
    color: $purple;
}
.blue{
    color: $blue;
}

// Tablet
@media screen and (max-width: 1100px) {
    .container{
        width: 90%;
        margin: auto;
        &-paddingSide{
            padding-left: 0;
        }
    }
    p{
        font-size: 19pt;
    }
    h1{
        font-size: 34pt;
    }
    h2{
        font-size: 27pt;
    }
    h3{
        font-size: 24;
    }
    h4{
        font-size: 22pt;
    }
    h5{
        font-size: 21pt;
    }
    .divider{
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }
}




