.project{
    &-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5em;
        margin-top: 5em;
        &-img{
            padding: 1em;
            border: 3px solid $white;
        }
        &-p{
            color: $light-grey;
            margin-bottom: 4.5em;
        }
    }
}
.back{
    position:fixed;
    top:10;
    margin-left: 1em;
    z-index:100;
    color: $light-grey;
    &:hover{
        color: $white;
        font-weight: bold;
    }
    &-arrow{
        &-text{
            padding-left: .75em;
        }
    }
}


@media screen and (max-width: 599px) {
    .project{
        &-container{
            display: block;
            margin-bottom: 5em;
            margin-top: 5em;
            &-p{
                color: $light-grey;
                margin-bottom: 4.5em;
            }
        }
    }
    .row-reverse{
        display: flex;
        flex-direction: column;
    }
.order{
    order: -1;
}
}
