.contact{
    &-form{
        font-family: 'Roboto';
        
        &-label{
            display: block;
            width: 100%;
            margin-bottom: .25em;
            color: $light-grey;
        }
        &-input{
            display: block;
            width: 80%;
            margin-bottom: 2.5em;
            padding: 1em;
        }
    }
}