.specific{
    &-box{
        &-subimg{
            padding-bottom: 2em;
        }
        &-img{
            margin-bottom: 3em;
        }
        &-header{
            margin-top: 5em;
        }
        &-subheader{
            margin-bottom: 1em;
        }
    }
}
.back{
    margin-left: 0;
}

// tablet
@media screen and (max-width: 1100px) {
    .back{
        display: none;
    }
}