.specific{
    &-box{
        &-subimg{
            padding-bottom: 2em;
        }
        &-img{
            margin-bottom: 3em;
        }
        &-header{
            margin-top: 5em;
        }
        &-subheader{
            margin-bottom: 1em;
        }
    }
}

// Mobile
@media screen and (max-width: 599px) {
    .back{
        display: none;
    }
}